@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%)
    no-repeat;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.header {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 110px 15px;
}
.header__logo {
  display: block;
  width: 132px;
  height: 29px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}
.form {
  position: relative;
}
.form__button {
  display: block;
  background-image: url(../images/search-icon.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
}
.form__search {
  width: 384px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  padding: 10px 10px 10px 40px;
  color: rgb(255, 255, 255);
}
.form__search:focus {
  outline: none;
  color: #fff;
}
.form__search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.header__list {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
.header__link {
  text-decoration: none;
  color: #fff;
}
.header__link-gradient {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  padding: 10px 20px;
  transition: .3s;
}
.header__buttons {
    display: flex;
    gap: 15px;
}
.container {
  max-width: 1197px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__text {
  flex-basis: 490px;
}
.main__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}
.main__descr {
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
  margin-bottom: 42px;
}
.main__btn {
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 11px 20px;
  transition: .3s;
}
.main__btn:hover, .header__link-gradient:hover {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
.main__btn-gradient {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  margin-right: 17px;
}
.main__gallery {
  flex-basis: calc(100% - 490px - 116px);
}
.main__img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
.main__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  gap: 110px;
  margin-top: 60px;
  margin-bottom: 0;
}
.main__item {
  color: rgba(255, 255, 255, 0.5);
}
.main__span {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 8px;
}
.company {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  align-items: center;
  margin-bottom: 144px;
}
.company__item {
    height: 66px;
}
.company__item:hover {
  cursor: pointer;
}
.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
  max-width: 387px;
  margin: 0 auto 4px;
}
.descr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0 auto;
  max-width: 420px;
  line-height: 1.5;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 150px;
}
.cards__item {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 26px;
  flex-basis: 32.5%;
  box-sizing: border-box;
  transition: 0.2s;
}
.card__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
}
.card__img {
  width: 100%;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 5px;
}
.card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 0;
}
.card__nick {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
.card__paintname {
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 0;
}
.card__bid {
  text-align: right;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
.card__price {
  margin-top: 5px;
  display: block;
  font-weight: 700;
  color: #fff;
}
.card__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  padding: 13px 20px;
  margin-top: 26px;
  transition: 0.2s;
  position: relative;
}
.cards__item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.card__link:hover {
  background: linear-gradient(45deg, #b75cff 33%, #671ae4 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__link::after {
  content: "";
  background-image: url(../images/ranka.svg);
  display: block;
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.card__link:hover::after {
  opacity: 1;
}
.collapsible {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 22px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: left;
  outline: none;
  transition: 0.2s;
  margin-bottom: 16px;
}
.active,
.collapsible:hover {
  background-color: transparent;
  color: #fff;
}
.collapsible::after {
  content: "\002B";
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}
.active::after {
  content: "\2212";
  color: rgba(255, 255, 255, 1);
}
.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  line-height: 1.5;
  margin-bottom: 16px;
}
.faq {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.faq__item {
  flex-basis: 49.3%;
}
.banner {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  padding: 51px 15px 64px;
  text-align: center;
  margin-top: 118px;
  margin-bottom: 100px;
}
.banner__title {
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  margin: 0 auto 34px;
  line-height: 1.5;
}
.banner__link {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 11px 20px;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}
.banner__link:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.5);
}
.header__search, .header__menu {
    display: none;
}
@media(max-width: 1130px) {
    body {
        font-size: 16px;
    }
    .header, .container {
        max-width: 900px;
    }
    .header__list {
        gap: 20px;
    }
    .form__search {
        width: 260px;
        padding: 13px 13px 13px 40px;
        font-size: 14px;
    }
    .main__text {
        flex-basis: 400px;
    }
    .main__title {
        font-size: 40px;
    }
    .main__list {
        gap: 30px;
    }
    .main__gallery {
        flex-basis: calc(100% - 450px);
    }    
    .company__item {
        height: 4.5vw;
    }
    .card__cover, .card__img {
        height: 270px;
    }
    .card__link:hover {
      background: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.5);
    }
    .card__link::after {
        display: none;
    }
    .title {
        font-size: 28px;
    }
    .card__bid {
        font-size: 12px;
    }
    .banner__title {
        font-size: 35px;
    }
}
@media(max-width:880px) {
    .header, .container {
        max-width: 770px;
    }
    .header__search {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .form {
        display: none;
    }
    .main__gallery {
        flex-basis: calc(100% - 350px);
    }    
    .company__item {
        height: 5vw;
    }
    .card__cover, .card__img {
        height: 210px;
    }
    .card__link:hover {
      background: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.5);
    }
    .card__link::after {
        display: none;
    }
    .banner__title {
        font-size: 30px;
    }
}
@media(max-width: 700px) {
    .header, .container {
        max-width: 400px;
    }
    .header__list {
        display: none;
    }
    .main__text {
        text-align: center;
    }
    .main__list {
        justify-content: center;
    }
    .main__gallery {
        display: none;
    }
    .faq {
        flex-direction: column;
    }
    .cards {
        flex-direction: column;
        margin: 30px auto 100px;
    }
    .cards__item {
        margin-bottom: 30px;
    }
    .card__cover, .card__img {
        height: 380px;
    }
    .card__link:hover {
      background: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.5);
    }
    .card__link::after {
        display: none;
    }
    .header__menu {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .company {
        flex-direction: column;
        gap: 30px;
    }    
    .company__item {
        height: 49px;
    }
}
